/*========================================
                TYPE
=========================================*/
html {
    scroll-behavior: smooth;
}

* { 
	box-sizing: border-box;
}

body {
    font-family: 'Public_Sans', sans-serif;    
    font-size: 1rem;
    margin: 0;    
}

footer {
    text-decoration: none;
    padding: .3%;
    background-color: rgba(180, 154, 144, .50);
    font-variation-settings: 'wght' 200;
    letter-spacing: 0.1rem;
    color: white;
    text-align: center;
}

.footer {
    font-size: 1vw;
}

a {
    color: white;   
}

section {
    background-color: white;
}

/*========================================
                FONT / TEXT
=========================================*/

/*========== GOOGLE FONT ==========*/
/*  To set font-weight use: font-variation-settings: 'wght' [100 - 900];  */
@font-face {
    font-family: 'Public_Sans';
    src: url('../fonts/PublicSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Public_Sans_italic';
    src: url('../fonts/PublicSans-Italic-VariableFont_wght.ttf');
}

/* Quotation elements */
q {
    font-family: 'Public_Sans_italic', sans-serif;    
}

h1 {
    font-size: 2.5vw;
    font-weight: bold;
    letter-spacing: 0.05rem;
    word-spacing: 0.15rem;
}

h2 {
    font-size: 1.8vw;
}

p {
    font-size: 1.2vw;
}

/*========================================
                FORMATTING
=========================================*/
/*===== MARGIN =====*/
.mt-1 {
    margin-top: 1%;
}
.mt-2 {
    margin-top: 2%;
}
.mt-3 {
    margin-top: 3%;
}
.mt-4 {
    margin-top: 4%;
}
.mt-5 {
    margin-top: 5%;
}

.mb-1 {
    margin-bottom: 1%;
}
.mb-2 {
    margin-bottom: 2%;
}
.mb-3 {
    margin-bottom: 3%;
}
.mb-4 {
    margin-bottom: 4%;
}
.mb-5 {
    margin-bottom: 5%;
}

/*===== PADDING =====*/
.pt-1 {
    padding-top: 1%;
}
.pt-2 {
    padding-top: 2%;
}
.pt-3 {
    padding-top: 3%;
}
.pt-4 {
    padding-top: 4%;
}
.pt-5 {
    padding-top: 5%;
}

.pb-1 {
    padding-bottom: 1%;
}
.pb-2 {
    padding-bottom: 2%;
}
.pb-3 {
    padding-bottom: 3%;
}
.pb-4 {
    padding-bottom: 4%;
}
.pb-5 {
    padding-bottom: 5%;
}


.center-box {
    top: 50%; /* down 50% from top of photo */ 
    left: 50%; /* right 50% from left of photo */
    transform: translate(-50%,-50%); /* reposition center of text to center of photo: move X axis left (-50%) of the text block width and move Y axis up (-50%) of the text block height */
    text-align: center;
}

.center-text {
    text-align: center;    
}

.container-hidden {
    position: relative;
    overflow: hidden;
}

.container50_center {
    margin-right: auto;
    margin-left: auto;
    width:50%;
    padding: 1% 1%;
}

.container40_center {
    margin-right: auto;
    margin-left: auto;
    width:40%;
    padding: 1% 1%;
}

.row_pad {
    display:block;
    content:'';
    padding: 2%;
}
.row_blank {
    display:block;
    content:'';
    height: 2%;
    width: 100%;
    background: white;
    padding: 2%;     
}
.line40 { /* UNDERLINE EFFECT */
    display:block;
    content:'';
    height: 2px;
    width: 40%;
    background: black;
    margin: 1% auto;    
}

.line40-w { /* UNDERLINE EFFECT */
    display:block;
    content:'';
    height: 2px;
    width: 40%;
    background: white;
    margin: 1% auto;    
}

.text_box_pad {
    padding: 3% 3% 8% 3%;
}

/*========================================
                NAV BAR
=========================================*/
.hidden {
    position: absolute;
    top: -400px;
    left: 400px;    
}

nav {
    background-color: rgba(255, 255, 255, .6);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;    
    z-index: 2;
}

 /* Links inside the navbar */
nav .link {
    float: left;
    display: block;
    font-size: 1.2vw;
    font-weight: bold;
    background-color: rgba(9, 170, 170,.40);
    border: 1px solid rgba(255, 255, 255, .3);
    margin-right: .1vw;
    color: white;
    text-align: center;
    padding: 1vw 2vw;
    text-decoration: none;
}

.container-h {
    position: relative;
    height: 100%;
}

.container-h img {
    position: absolute;
    top: 50%; /* down 50% from top of photo */ 
    left: 50%; /* right 50% from left of photo */
    transform: translate(-50%,-50%);
    height: 85%;
    max-height: 85%;
    width: auto;        
}

nav #logo {
    float: right;
    display: block;
    width: 8vw; 
    height: 3.5vw; 
    text-align: center;   
    /*padding: .5% .5% .5% .35vw;*/
}

/* Navbar hover effect */
nav .link:hover {
	background-color: rgba(255, 255, 255,.6);
	color: rgb(0,70,86); 
    border: 1px solid rgba(255, 255, 255, .6); 
}

#logo img:hover {
    border-radius: 50%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

/*========================================
                HOME VIDEO
=========================================*/

.back_video {
	position: fixed; /* This fixes our video to the page  */	
    min-width: 100%; /* Video is displayed across the full width of the page */ 
    z-index: -1; /* Video behind everything else */
    /*=== Ensures no space between the edge of the video & page ===*/
    bottom: 0;
    left: 0; 
    right: 0; 
}

#home_video {
    top:0; /* position on the page */	
}

/* Text over the video */ 
.video_text { 
	background: rgba(0, 0, 0, 0.5); /* This provides a semi-transparent background for the text to sit over */
	color: white; 
	width: 100%;
	padding: 30px 20px; /* This adds padding around the text so that the background goes slightly beyond the text */
	margin-top: 28%;
}

/*========== ABOUT ==========*/

.row {
    background-color: white;
    height: auto;     
}
.row:after { /* This inserts something after the content of selected elements */
	content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
	display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
	clear: both; /* This clears any other elements from floating on the left or the right of an element */
}

.column2 { /* 2 equal columns */
    float:left;
    width: 50%;
    height: 100%;          	 
}

.container100, .container75, .container60, .container50, .container40, .container30, .container20, .container10, .container5 {
    position: relative;
    margin-left: auto;
    margin-right:auto;
}

.container-w {
    width: 100%;
    height: auto;
}

.container100 {      
    width: 100%;
    height: auto;            
}
.container75 {     
    width: 75%;        
}
.container60 {
    width: 60%;            
}
.container50 {   
    width: 50%;            
}
.container40 {   
    width: 40%;            
}
.container30 {    
    width: 30%;            
}
.container20 {    
    width: 20%;            
}
.container10 {       
    width: 10%;            
}
.container5 {       
    width: 5%;            
}

.container100 img, .container75 img, .container60 img, .container50 img, .container40 img, .container30 img, .container20 img, .container10 img, .container5 img {
    width: 100%;
    max-width: 100%;
    height: auto;        
}

.photo, .photo_cf, .photo_bw {
    position: relative;
    line-height: 0; /* makes photo container and photo match up */
    overflow: hidden;
    border-radius: 8px;   
    box-shadow: 2px 2px 8px rgba(0,0,0,.5);   
}

.photo img {
    transition: transform 1s;
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.1);
}

.photo_cf .top img {
    z-index: 1;
    position: absolute;
    left: 0;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transform-origin: 50% 50%;
    border-radius: 8px;
}

.photo_cf .top img:hover {
    opacity: 0;
}

.photo_bw img {
    filter: grayscale(0%);
    transition: all 1s ease-in-out;    
}

.photo_bw img:hover {
    filter: grayscale(100%);    
}


/*========== GITHUB ==========*/
.git_box_pad {
    padding: 3% 3% 3% 3%;
}

.logo-list {
    position: relative;
    display: inline-block;    
}

.logo-list img{
    width: 20%;
    margin: 2%;
    border: 1px solid #703e31;
    border-radius: 4px;
}

/*========================================
                LIGHTBOX
=========================================*/

/*========== ROW & COLUMN ==========*/

.Row {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;    
}
.Row:after {
    content: "";
    display: table;
    clear: both;
}

.Thumb {
    position: relative;
    float: left;
    width: 14.28%;
    height: auto;
    padding: 0 .5%;
    text-align: center;
}

.Column { /* create 6 columns for 6 slides that float next to each other */
    position: relative;
    float: left;
    width: 14.28%;
    height: auto;
}

/*========== THUMBS ==========*/
.Img_Thumb {
    /* center image inside column block */
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width:100%;
    border: 1px solid white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
  
.Img_Thumb:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 25px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(0,70,86);
    cursor: pointer;
}

/*===== TEXT - Caption text */
.Thumb_Text {
    position: absolute;
    color: rgba(255, 255, 255, .50);
    font-size: 3vw;
    font-weight: bold;
    /* center over container & photo */
    top: -15%; 
    left: 50%;
    transform: translate(-50%,0); /* reposition center of text to center of photo: move X axis left (-50%) of the text block width and move Y axis up (-50%) of the text block height */
    width: 100%;
    pointer-events: none; /* disable click or hover events for this text */   
}

/*========== LIGHTBOX ==========*/

.Slide {
    /* Hide the slides by default */
    display: none;
}

/*===== BACKGROUND =====*/
.Light_Box {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 4vw;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
  }
  
/*===== CONTENT =====*/
.Box_Content {
    position: relative;
    background-color: none;
    margin: auto;
    padding: 0;
    width: 60%;        
}

.Img_Full {
    width:100%;
}
  
/*====== EXIT BUTTON =====*/
.Close {
    color: white;
    position: absolute;
    top: 1vw;
    right: 2vw;
    font-size: 3vw;
    font-weight: bold;
}
.Close:hover, .Close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
 
/*====== NEXT & PREVIOUS =====*/
.prev, .next {
    position: absolute;
    top: 35%;
    transform: translate(0,0); /* reposition center of box to center of photo: move X axis left (0) of the text block width and move Y axis up (-50%) of the text block height */
    width: auto;
    padding: .5vw 1vw;    
    color: rgba(255, 255, 255, 0.60);
    font-weight: bold;
    font-size: 4vw;
    transition: background .6s ease-in-out;
    cursor: pointer;
    user-select: none; /* block the selection of the text itself */
}

/* HOVER - add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.4);
    color: rgba(255, 255, 255, 0.60);    
}

/* PREVIOUS ONLY - left side button */
.prev { 
    left: 0;
    border-radius: 0 .5vw .5vw 0;
}

/* NEXT ONLY - right side button */
.next { 
    right: 0;
    border-radius: .5vw 0 0 .5vw;
}

.Demo {
    width: 100%;
    opacity: 0.45;
    transition: 0.5s;
}
  
.Demo:hover {
    opacity: 1;
}

.active {
    opacity: .9;
}

/*===== SLIDE TEXT ===== */

/* Text Over Image */
.Img_Text {
    position: absolute;
    top: -3vw;
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    width: 100%;    
}

/* Caption text */
.Container_Caption {
    text-align: center;
    padding: 2px 2px;
    color: white;
    background-color: black;
    font-size: .45vw;
    font-variation-settings: 'wght' 200;
}


/*========== CONTACT ==========*/
.contactForm {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(82, 70, 54);
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(245,245,245);
    border-radius: 8px;
    padding: 5%;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 1), -1px -1px 10px rgba(255, 255, 255, 1);
}

input[type=text], input[type=email] {
    font-family: Perpetua, Rockwell;
    font-size: 1.2vw;
    color: silver;
    padding: 2% 3%;
    width: 80%;
    margin: .75vw 1vw 2vw 0;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: white;
    box-shadow: inset 1px 1px 4px rgba(0,0,0,25%), inset -1px -1px 4px rgba(0,0,0,25%);        
}

.contactForm #message {
    width: 100%;
}

input[type=text]:focus, input[type=email]:focus {
    border: 1px solid rgba(9, 170, 170,.75);
}

.form_submit {
    background-color: rgba(9, 170, 170,.40);
    color: black;
    text-align: center;
    font-size: 1.2vw;
    padding: 1.1vw 2vw;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,.5);
	cursor: pointer;
	display: block;
	margin-left: auto;
    margin-right: auto;
    transition: transform 1.5s;     	
}

.form_submit:hover {
    border: none;
    background-color: #004c5c;
	color: white; /* Makes the font turn black when hovered over */
	font-weight: bold;
	transform: scale(1.2);	
}