/*========================================
                TYPE
=========================================*/

* { 
	box-sizing: border-box;
}

body {
    font-family: 'Public_Sans', sans-serif;    
    font-size: 1rem;
    margin: 0;    
}

footer {
    text-decoration: none;
    padding: 0.5%;
    background-color: rgba(180, 154, 144, .50);
    font-variation-settings: 'wght' 200;
    letter-spacing: 0.1rem;
    color: white;
    text-align: center;
}

a {
    color: white;   
}

/*========================================
                Text
=========================================*/

/*========== GOOGLE FONT ==========*/
/*  To set font-weight use: font-variation-settings: 'wght' [100 - 900];  */
@font-face {
    font-family: 'Public_Sans';
    src: url('../fonts/PublicSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Public_Sans_italic';
    src: url('../fonts/PublicSans-Italic-VariableFont_wght.ttf');
}

/* Quotation elements */
q {
    font-family: 'Public_Sans_italic', sans-serif;    
}

h1 {
    text-align: center;
    margin-top: 3%;
}

/*========================================
                FORMATTING
=========================================*/
.spacer800 {
    width: 100%;
    height: 800px;
    position: relative;    
}

.center_text {
    text-align: center;
    padding: 1% 2%;
}
.container50_center {
    margin-right: auto;
    margin-left: auto;
    width:50%;
    padding: 1% 1%;
}

.container40_center {
    margin-right: auto;
    margin-left: auto;
    width:40%;
    padding: 1% 1%;
}

.row_pad {
    display:block;
    content:'';
    padding: 2%;
}
.row_blank {
    display:block;
    content:'';
    height: 2%;
    width: 100%;
    background: white;
    padding: 2%;     
}
.line40 { /* UNDERLINE EFFECT */
    display:block;
    content:'';
    height: 2px;
    width: 40%;
    background: white;
    margin: 1% auto;    
}

.text_box_pad {
    padding: 3% 3% 8% 3%;
}

.pad_bottom {
    padding-bottom: 3%;
}

.margin_bottom {
    margin-bottom: 5%;
}

/*========================================
                SECTIONS
=========================================*/

/*========== NAVIGATION BAR ==========*/
nav {
    background-color: rgba(255, 255, 255, .6);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;    
    z-index: 2;
}

 /* Links inside the navbar */
nav .link {
    float: left;
    display: block;
    background-color: rgba(9, 170, 170,.40);
    border: 1px solid rgba(255, 255, 255, .3);
    margin-right: .1rem;
    color: white;
    text-align: center;
    padding: 1.1rem 2rem;
    text-decoration: none;
}

nav #logo {
    float: left;
    display: block;
    padding: .3rem 1.5rem 0 1.5rem;
}

/* Navbar hover effect */
nav .link:hover {
	background-color: rgba(255, 255, 255,.6);
	color: rgb(0,70,86); 
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, .6); 
}

#logo img:hover {
    border-radius: 50%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

/*========== HOME VIDEO ==========*/

.back_video {
	position: fixed; /* This fixes our video to the page  */	
	min-width: 100%; /* Video is displayed across the full width of the page */
    z-index: -1; /* Video behind everything else */
    /*=== Ensures no space between the edge of the video & page ===*/
    bottom: 0;
    left: 0; 
    right: 0; 
}

#home_video {
    top:0; /* position on the page */	
}

/* Text over the video */ 
.video_text { 
	background: rgba(0, 0, 0, 0.5); /* This provides a semi-transparent background for the text to sit over */
	color: white; 
	width: 100%;
	padding: 30px 20px; /* This adds padding around the text so that the background goes slightly beyond the text */
	margin-top: 28%;
}

/*========== ABOUT ==========*/

.row {
    background-color: white;
    height: auto;     
}
.row:after { /* This inserts something after the content of selected elements */
	content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
	display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
	clear: both; /* This clears any other elements from floating on the left or the right of an element */
}

.column2 { /* 2 equal columns */
    float:left;
    width: 50%;
    height: 100%;          	 
}

.container75 {
    position: relative;
    margin-left: auto;
    margin-right:auto;   
    width: 75%;        
}
.container75 img {
    width: 100%;
    max-width: 100%;
    height: auto;            
}

.container50 {
    position: relative;
    margin-left: auto;
    margin-right:auto;   
    width: 50%;            
}
.container50 img {
    width: 100%;
    max-width: 100%;
    height: auto;        
}

.photo, .photo_cf, .photo_bw {
    position: relative;
    line-height: 0; /* makes photo container and photo match up */
    overflow: hidden;
    border-radius: 8px;   
    box-shadow: 2px 2px 8px rgba(0,0,0,.5);   
}

.photo img {
    transition: transform 1s;
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.1);
}

.photo_cf .top img {
    z-index: 1;
    position: absolute;
    left: 0;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transform-origin: 50% 50%;
    border-radius: 8px;
}

.photo_cf .top img:hover {
    opacity: 0;
}

.photo_bw img {
    filter: grayscale(0%);
    transition: all 1s ease-in-out;    
}

.photo_bw img:hover {
    filter: grayscale(100%);    
}


/*========== GITHUB ==========*/
.container40 {
    position: relative;
    margin-left: auto;
    margin-right:auto;   
    width: 40%;        
}
.container40 img {
    width: 100%;
    max-width: 100%;
    height: auto;        
}

/*========== CONTACT ==========*/
.contactForm {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(82, 70, 54);
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(245,245,245);
    border-radius: 8px;
    padding: 5%;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 1), -1px -1px 10px rgba(255, 255, 255, 1);
}

.contactForm .rsvp {
    font-family: Perpetua, Rockwell;
    font-size: 1rem;
    color: silver;
    padding: 2% 3%;
    width: 80%;
    border: none;
    margin: 10px 5px 10px 5px;
    border-radius: 4px;
    background-color: white;
    box-shadow: inset 1px 1px 4px rgba(0,0,0,25%), inset -1px -1px 4px rgba(0,0,0,25%);        
}

.contactForm #message {
    width: 100%;
}

.form_submit {
    background-color: rgba(9, 170, 170,.40);
    color: black;
    text-align: center;
    font-size: 1.2rem;
    padding: 1.1rem 2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,.5);
	cursor: pointer;
	display: block;
	margin-left: auto;
    margin-right: auto;
    transition: transform 1.5s;     	
}

.form_submit:hover {
    background-color: #004c5c;
	color: white; /* Makes the font turn black when hovered over */
	font-weight: bold;
	transform: scale(1.2);	
}